
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'MontserratRegular';
    font-size: 18px;
    line-height: 150%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    font-family: 'MontserratSemiBold';
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: solid 1px #f58021;
    border-radius: 5px;
    background-image: url(../../assets/landing-assets/icons/white-vector.png);
    background-repeat: no-repeat;
    background-position-y:center;
}

/* Header start */

header {
    background-color: #f58021;
    z-index: 1;
}

.header__iner {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__burger {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
}

.header__burger:hover {
    cursor: pointer;
}

.header__burger span,
.header__burger span::after,
.header__burger span::before {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2.5px;
    background-color: #000;
}

.header__burger span::before,
.header__burger span::after {
    content: '';
    transition: 0.5s;
}

.header__burger span::before {
    transform: translateY(-10px);
}

.header__burger span::after {
    transform: translateY(10px);
}

.header__burger_active span{
    height: 0;
}

.header__burger_active span::before{
    transform: rotate(45deg);
}

.header__burger_active span::after{
    transform: rotate(-45deg);
}

.logo_link {
    margin-top: 10px;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__nav {
    font-family: 'MontserratSemiBold';
    text-transform: uppercase;
    margin-right: 67px;
}

.nav_link {
    color: #fff;
    margin-right: 48px;
}

.nav_link:last-child {
    margin-right: 0px;
}

.zoous_link {
    margin-right: 40px;
}

.contact_link {
    margin-right: 40px;
}

.activ_page {
    color: #00a092;
    pointer-events: none;
}

.soc_networks {
    margin-top: 12px;
}

.network {
    margin-right: 25px;
}

.network:last-child {
    margin-right: 0;
}
  
/* Header end */

/* Maint start */

.main_img {
    margin-bottom: 142px;
}

.main__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 148px;
}

.content__text {
    width: 545px;
    margin-bottom: 175px;
}

.conten__title {
    font-family: 'MontserratSemiBold';
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00a092;
    margin-bottom: 50px;
}

.main__form {
    width: 680px;
}

.form__item {
    margin-bottom: 30px;
}

.form__item_subtitle{
    margin-bottom: 10px;
    display: block;
}

.main__input {
    color: #969696;
    width: 680px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 20px;
}

.main__input:focus {
    border-color: #00A092;
    box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}

.message_input {
    padding: 33px 0 163px 20px;
    margin-bottom: 37px;
}

.main__submit_btn {
    width: 359px;
    padding: 26px 122px 26px 88px;
    background-color: #00a092;
    color: #fff;
    border: solid 1px #00a092;
    background-position-x: 246px;
}

.main__submit_btn:hover {
    background-color: #05786e;
    border: solid 1px #05786e;
    cursor: pointer;
}

.text_blue {
    color: #00a092;
}

/* Maint end */

/* Footer start */

.footer {
    background: #20113d;
}

.footer__top {
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0 66px 0;
    border-bottom: 1px solid #fff;
}

.footer__logos_list {
    margin-right: 35px;
}

.footer__logo {
    margin-right: 65px;
}

.footer__logo:last-child {
    margin-right: 0px;
}

.footer__nav {
    font-family: 'MontserratSemiBold';
    text-transform: uppercase;
    color: #fff;
}

.footer__donate {
    padding: 26px 68px 26px 33px;
    color: #fff;
    border: solid 1px #fff;
    background-position-x: 300px;
}

.footer__donate:hover {
    background-color: #00a092;
    cursor: pointer;
}

.footer__nav_link {
    color: #fff;
    margin-right: 46px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.copyright__list {
    display: flex;
}

.copyright_item {
    margin-right: 50px;
    color: #fff;
    font-size: 18px;
}

.copyright_item:last-child {
    margin-right: 0;
}

.footer__network {
    margin-right: 35px;
}

.footer__network:last-child {
    margin-right: 0px;
}

/* Footer end */

/* Adaptiv start*/

@media screen and (max-width:1200px) {
    .container {
        max-width: 1200px;
    }

    .header__iner {
        padding: 0 100px;
    }

    .header__nav {
        margin-right: 80px;
    }

    .nav_link {
        margin-right: 25px;
    }

    .main img {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .main__content {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .content__text {
        max-width: 835px;
        text-align: center;
        margin-bottom: 50px;
    }

    .conten__title {
        margin-bottom: 30px;
    }

    .main__form {
        margin-bottom: 100px;
        width: 740px;
    }
    
    .main__input {
        width: 100%;
    }


    #message-wrap {
        margin-bottom: 0;
    }

    .footer__top {
        padding: 70px 40px;
    }

    .footer__logos_list {
        margin-right: 15px;
    }

    .footer__logo {
        margin-right: 25px;
    }

    .footer__nav_link {
        margin-right: 15px;
    }

    .footer__bottom {
        padding: 0 40px 35px;
    }
}

@media screen and (max-width:640px) {

    .container {
        max-width: 640px;
    }

    .header {
        position: fixed;
        width: 100%;
    }

    .header__iner {
        padding: 0;
        padding: 0 20px;
    }

    .header__burger {
        display: block;
    }

    .soc_networks {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .main {
        padding-top: 110px;
    }

    .main_img {
        margin-bottom: 50px;
    }

    .main__content {
        padding: 0 20px;
    }

    .content__text {
        width: 100%;
    }

    .main__form {
        max-width: 100%;
    }

    .main__submit_btn {
        display: block;
        margin: 0 auto;
    }

    .main__form {
        margin-bottom: 80px;
    }
    
    .footer__top {
        padding: 0 20px;
        flex-direction: column;
        margin: 0 auto;
        padding: 50px 100px;
    }

    .footer__logos_list {
        margin: 0 auto 50px;
    }

    .footer__nav {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer__nav_link {
        margin: 0;
        display: block;
    }

    .footer__bottom {
        padding: 0 20px;
        flex-flow: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 50px 100px;
    }

    .copyright__list {
        order: 1;
    }
    .copyright_item {
        margin: 0;
    }

    .footer__soc_networks {
        order: 0;
        margin-bottom: 30px;
    }
    
    .copyright__list {
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width:320px) {

    .container {
        max-width: 320px;
    }

    .main_img {
        margin-bottom: 30px;
    }
    
    .conten__title {
        font-family: 'MontserratRegular';
        font-size: 26px;
        line-height: 32px;
    }

    .main__submit_btn {
        max-width: 94%;
        padding: 14px 92px 14px 58px;
        background-position-x: 215px;
    }

    .footer__top {
        padding: 50px 10px 0;
        border:none
    }
    
    .footer__logos_list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .footer__logo {
        margin: 0 auto 30px;
    }

    .footer__nav {
        margin-bottom: 30px;
    }

    .footer__nav_link {
        font-size: 16px;
        line-height: 20px;
    }

    .footer__donate {
        padding: 10px 65px 10px 30px;
        font-size: 18px;
        line-height: 150%;
        text-transform: none;
        background-position-x: 240px;
        margin-bottom: 30px;
    }

    .footer__bottom {
        padding: 0;
    }

    .footer__soc_networks {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .copyright__list {
        flex-direction: column;
        align-items: center;
        margin: 0 auto 50px;
    }

    .copyright_item {
        margin-bottom: 30px;
    }

    .copyright_item:last-child {
        margin-bottom: 0;
    }
}
/* Adaptiv end*/
