
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: 'MontserratRegular';
    font-size: 18px;
    line-height: 150%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    font-family: 'MontserratSemiBold';
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: solid 1px #f58021;
    border-radius: 5px;
    background-image: url(../../../assets/zoos/icons/white-vector.png);
    background-repeat: no-repeat;
    background-position-y:center;
}

.btn:hover {
    transition: .1s linear;
    background-color: #d26004;
    cursor: pointer;
}

.subtitle {
    margin: 0;
    font-family: 'MontserratMedium';
    font-size: 26px;
    line-height: 130%;
    color: #fff;
}

/* Header start */

header {
    background-color: #f58021;
    z-index: 1;
}

.header__iner {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__burger {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
}

.header__burger:hover {
    cursor: pointer;
}

.header__burger span,
.header__burger span::after,
.header__burger span::before {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2.5px;
    background-color: #000;
}

.header__burger span::before,
.header__burger span::after {
    content: '';
    transition: 0.5s;
}

.header__burger span::before {
    transform: translateY(-10px);
}

.header__burger span::after {
    transform: translateY(10px);
}

.header__burger_active span{
    height: 0;
}

.header__burger_active span::before{
    transform: rotate(45deg);
}

.header__burger_active span::after{
    transform: rotate(-45deg);
}

.logo_link {
    margin-top: 10px;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__nav {
    font-family: 'MontserratSemiBold';
    text-transform: uppercase;
    margin-right: 67px;
}

.nav_link {
    color: #fff;
    margin-right: 48px;
}

.nav_link:last-child {
    margin-right: 0px;
}

.zoous_link {
    margin-right: 40px;
}

.contact_link {
    margin-right: 40px;
}

.activ_page {
    color: #00a092;
    pointer-events: none;
}


.soc_networks {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}

.network {
    margin-right: 25px;
}

.network:last-child {
    margin-right: 0;
}

/* Header end */

/* Live cams start */

.live_cams__inner {
    position: relative;
    margin-top: 55px;
}

.live_cams__title {
    font-family: 'MontserratSemiBold';
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00A092;
    text-align: center;
    margin-bottom: 50px;
}

.live_cams__img {
    max-width: 100%;
    margin-bottom: 92px;
}

.live_cams__subtitle {
    font-family: 'MontserratMedium';
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.live_cams__list {
    display: flex;
    align-items: center;
    margin-bottom: 149px;
    margin-left: 147px;
}

.scrolling_btn {
    width: 80px;
    height: 74px;
    background: url(../../../assets/zoos/icons/purple-vector.png) center no-repeat;
    background-color: transparent;
    border: 0;
}

.scrolling_btn:hover {
    cursor: pointer;
}

.prev_camera {
    margin-right: 13px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.live_camera {
    margin-right: 40px;
}

.last_camera {
    margin-right: 13px;
}

.donate_now_btn {
    margin-top: 50px;
    background-color: #f58021;
    padding: 26px 70px 26px 35px;
    border: solid 1px #f58021;
    background-position-x: 180px;
    position: absolute;
    top: -56px;
    right: 0;
}

/* Live cams end */

/* Donation start */

.donation{
    background-color: #20113d;
    margin-bottom: 150px;
}

.donation__inner {
    min-height: 250px;
    height: 221px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.donation__text {
    max-width: 924px;
}

.donation__title {
    margin-bottom: 20px;
    font-family: 'MontserratMedium';
    color: #fff;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    padding-top: 15px;
}

.donation__description {
    max-width: 919px;
    color: #fff;
}

.donation__btn_title {
    margin: 0 0 10px 0;
}

.donation__form {
    display: flex;
    align-items: center;
    text-align: center;
    width: 320px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.donation__input {
    background: transparent;
    border: 1px solid #fff;
    border-right: #f58021;
    border-radius: 5px 0 0 5px;
    width: 246px;
    height: 74px;
    padding-left: 15px;
    line-height: 27px;
    font-family: 'MontserratSemiBold';
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
}

.donation__send {
    background: #f58021;
    border: 1px solid #fff;
    border-left: #f58021;
    border-radius: 0 5px 5px 0;
    width: 74px;
    height: 74px;
    background-image: url(../../../assets/zoos/icons/white-vector.png);
    background-repeat: no-repeat;
    background-position:center
}

.donation__send:hover {
    background-color: #d26004;
    transition: .1s linear;
    cursor: pointer;
}

/* Donation end */

/* Information start */

.information__reference {
    margin: 0 auto 156px;
    width: 1040px;
    text-align: center;
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
}

.reference__title {
    font-family: 'MontserratMedium';
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #00a092;
    margin-bottom: 20px;
    padding-top: 50px;
}

.reference__text {
    font-family: 'MontserratMedium';
    font-size: 26px;
    line-height: 130%;
    padding: 0 60px 50px 60px;
    margin: 0 0 56px 0;
}

.information__content {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin-bottom: 50px;
}

.content__characteristic {
    width: 600px;
    max-height: 380px;
    position: relative;
}

.characteristic_item {
    margin: 0 0 18px 0;
}

.characteristic_bold_text {
    font-family: 'MontserratMedium';
    font-size: 26px;
    line-height: 130%;
    margin-right: 20px;
}

.characteristic_margin {
    margin: 0 0 27px 0;
}

.information__text {
    max-width: 1160px;
    margin-bottom: 150px;
}

.view_map {
    font-family: 'MontserratSemiBold';
    font-size: 20.3px;
    line-height: 25px;
    text-transform: uppercase;
    color: #F58021;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 29px 51px 29px 51px;
    background: url(../../../assets/zoos/icons/orange-vector.png) no-repeat;
    background-position-x: 168px;
    background-position-y: center;
}
/* Information end */

/* Footer start */

.footer {
    background: #20113d;
}

.footer__top {
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0 66px 0;
    border-bottom: 1px solid #fff;
}

.footer__logos_list {
    margin-right: 35px;
}

.footer__logo {
    margin-right: 65px;
}

.footer__logo:last-child {
    margin-right: 0px;
}

.footer__nav {
    font-family: 'MontserratSemiBold';
    text-transform: uppercase;
    color: #fff;
}

.footer__donate {
    padding: 26px 68px 26px 33px;
    color: #fff;
    border: solid 1px #fff;
    background-position-x: 300px;
}

.footer__donate:hover {
    background-color: #00a092;
    cursor: pointer;
}

.footer__nav_link {
    color: #fff;
    margin-right: 46px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.copyright__list {
    display: flex;
}

.copyright_item {
    margin-right: 50px;
    color: #fff;
    font-size: 18px;
}

.copyright_item:last-child {
    margin-right: 0;
}

.footer__network {
    margin-right: 35px;
}

.footer__network:last-child {
    margin-right: 0px;
}
/* Footer end */

/* Side-bar start */

.panel {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
  
.side-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    background-color: #20113D;
    color: #fff;
  }
.side-panel .btn-down:hover {
    cursor: pointer;
  }
.side-panel .more-arrow {
    cursor: pointer;
  }
.side-panel .panel-header {
    border-bottom: 1px solid #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.side-panel .panel-header .live-icon {
    align-self: flex-start;
  }
.side-panel .panel-header .more-arrow {
    margin-right: 25px;
  }
.side-panel .panel-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
.side-panel .item {
    height: 170px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/zoos/icons/panel-ellipse.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
.side-panel .item .link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.side-panel .item.active, .side-panel .item:hover {
    background-image: url("../../../assets/zoos/icons/panel-ellipse-hover.png");
  }
.side-panel .item.active {
    cursor: default;
  }

  /* Side-bar end */

  /* Adaptiv start*/

@media screen and (max-width:1200px) {
    .container {
        max-width: 1200px;
    }

    .header__iner {
        padding: 0 100px;
    }

    .header__nav {
        margin-right: 80px;
    }

    .nav_link {
        margin-right: 25px;
    }

    .live_cams__inner {
        max-width: 1025px;
        margin: 30px 40px 0 auto;
    }
    
    .live_cams__title {
        margin-right: 55px;
    }

    .live_cams__list {
        max-width: 1000px;
        margin: 0 auto 90px;
    }

    .live_cams__img {
        margin-bottom: 10px;
        height: 760px;
    }

    .live_camera {
        max-width: 265px;
        margin-right: 20px;
    }

    .donation {
        padding: 30px 0;
        margin-bottom: 100px;
    }

    .donation__inner {
        padding: 0 40px;
    }

    .donation__text {
        max-width: 690px;
    }

    .donation__sending {
        margin-bottom: auto;
    }

    .information__reference {
        margin: 0 auto 100px;
        width: 77.5%;
        padding: 30px 0;
    }

    .reference__title {
        padding: 0;
    }

    .reference__text {
        margin: 0;
        padding: 0 95px;
    }

    .information__content {
        max-width: 1120px;
        margin: 0 auto 50px;
    }

    .information__text {
        max-width: 1120px;
        margin: 0 auto 100px;
    }

    .side-panel {
        max-width: 115px;
    }

    .panel-header {
        background-color: #20113d;
        background-image: url('../../../assets/zoos/icons/arrows.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .panel-header img {
        display: none;
    }

    .side-panel__list {
        padding: 0;
    }

    .side-panel .item {
        background-image: none;
    }
    
    .side-panel .item.active, .side-panel .item:hover {
        background-image: none;
    }
    .side-panel .item img {
        filter: invert(1);
    }

    .footer__top {
        padding: 70px 40px;
    }

    .footer__logos_list {
        margin-right: 15px;
    }

    .footer__logo {
        margin-right: 25px;
    }

    .footer__nav_link {
        margin-right: 15px;
    }

    .footer__bottom {
        padding: 0 40px 35px;
    }
}

@media screen and (max-width:640px) {

    .container {
        max-width: 640px;
    }

    .header {
        position: fixed;
        width: 100%;
    }

    .header__iner {
        padding: 0;
        padding: 0 20px;
    }

    .header__burger {
        display: block;
    }

    .soc_networks {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .live_cams {
        padding-top: 110px;
    }

    .live_cams__inner {
        margin: 25px 20px 80px auto;
        max-width: 542px;
    }

    .live_cams__title {
        margin-bottom: 25px;
        font-size: 42px;
        line-height: 51px;
    }

    .live_cams__img {
        height: 399px;
    }

    .donate_now_btn {
        position: static;
        display: block;
        margin: 0 0 20px auto;
        padding: 13px 55px 13px 20px;
        background-position-x: 165px;
    }

    .live_cams__subtitle {
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 130%;
        text-transform: none;
        padding-left: 95px;
        text-align: left;
    }

    .live_cams__list {
        max-width: 445px;
        height: 105px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 auto;
    }

    .live_cams__list button {
        display: none;
    }

    .live_camera {
        max-width: 135px;
        margin: 0;
    }

    .donation__inner {
        flex-direction: column;
        padding: 0 20px;
        height: auto;
    }

    .donation__text {
        text-align: center;
        margin-bottom: 30px;
    }

    .donation__title {
        margin-bottom: 30px;
    }

    .donation__description {
        margin: 0;
    }

    .donation__sending {
        text-align: center;
    }

    .information__reference {
        max-width: 600px;
        margin-bottom: 80px;
    }

    .reference__title {
        margin-bottom: 30px;
    }

    .reference__text {
        padding: 0 30px;
    }

    .information__content {
        flex-direction: column;
        padding: 0 20px;
    }

    .content__characteristic {
        order: 1;
    }

    .information__img {
        order: 0;
        margin-bottom: 80px;
    }

    .information__text {
        padding: 0 20px;
    }

    .panel {
        top: 110px;
    }

    .side-panel {
        max-width: 78px;
    }

    .side-panel .panel-header {
        height: 50px;
    }

    .side-panel .item {
        height: 100px;
    }

    .side-panel__list {
        margin: 0;
    }

    .side-panel .panel-footer {
        height: 50px;
    }

    .footer__top {
        padding: 0 20px;
        flex-direction: column;
        margin: 0 auto;
        padding: 50px 100px;
    }

    .footer__logos_list {
        margin: 0 auto 50px;
    }

    .footer__nav {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer__nav_link {
        margin: 0;
        display: block;
    }

    .footer__bottom {
        padding: 0 20px;
        flex-flow: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 50px 100px;
    }

    .copyright__list {
        order: 1;
    }
    .copyright_item {
        margin: 0;
    }

    .footer__soc_networks {
        order: 0;
        margin-bottom: 30px;
    }
    
    .copyright__list {
        justify-content: space-between;
        width: 100%;
    }
}
/* Adaptiv end*/
